include carbondesign/README.rst
recursive-include carbondesign/mithril-js *
recursive-include carbondesign/sass *
recursive-include carbondesign/static *
exclude run
exclude wscript
exclude README-Upload.rst
exclude requirements.txt
exclude build.yml
exclude .git*
exclude MANIFEST.in
prune docs
prune docs_build
prune docsrc
prune etc
prune lib
prune carbondesign/tests
